$color1: #96D5BD;
$color2: #96CED3;
$color3: #007792;
$color3-dark: #00445F;
$color4: #0D123D;
$orange: #E3B759;
$main-font: 'Jura';
/*================================================================================
Cultural events
================================================================================*/
#cultural {
    /*--Main Styles--*/

    .bold {
      font-weight: bold;
    }
    h1 {
      color: $color4;
      font-family: $main-font, sans-serif;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    h2 {
      font-family: $main-font, sans-serif;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: $color4;
      font-weight: bold;
      margin-bottom: 1.1rem;
    }
    h3 {
        font-family: $main-font, sans-serif;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 1.1rem;
    }
    h4 { font-family: $main-font, sans-serif; }
    h5 { font-family: $main-font, sans-serif; }
    p {
      font-family: $main-font, sans-serif;
      color: #999;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    .main-image {
      width: 100%;
      height: 50vh;
      background-position: 20% center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .about-event {
      text-align: center;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
      .col {
        text-align: left;
        display: inline-block;
        // padding: 2rem;
        margin: 2rem;
        width: 40%;
        vertical-align: top;
        .bold {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
      .left {
        padding-top: 2rem;

      }
      .right {
        width: 30%;
        padding: 2rem;
        margin-right: 0;
        margin-left: 4rem;
        border-radius: 1rem;
        background: url('../../images/line.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-color:  #ecf0f1;
        background-size: 100% .8rem;
      }
    }
    .highlights {
      text-align: center;
      padding: 4rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background: url('../../images/line.jpg');
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100% .8rem;
      background-color: $color3;
      color: white;
      h1 {
        color: white;
      }
      .highlight {
        vertical-align: top;
        width: 20%;
        padding: 2rem;
        display: inline-block;
        color: white;
        p, h1, h2 {
          color: white;
        }
        svg {
      		height: 8rem;
          width: 8rem;
      		margin-bottom: 1.5rem;
      		path, rect, polygon {
      			fill: $color1 !important;
            stroke: $color1 !important;
      		}
      		&:hover {
      			path, rect, polygon {
      				fill: white !important;
              stroke: white !important;
      			}
      		}
        }
      }
    }
}
