$color1: #96D5BD;
$color2: #96CED3;
$color3: #007792;
$color4: #0D123D;
$orange: #E3B759;
/*================================================================================
 Header
================================================================================*/
#header-container {
	/*position: fixed;*/
	width: 100%;
	border-bottom: 2px solid white;
	z-index: 3;
}
#header {
	background: $color4;
	/*position: fixed;*/
	/*top: -2px;*/
	/*width: 100%;*/
	/*margin: 0 -10px;*/


	padding: 10px;
}
#header-content {
	/*width: 800px;*/
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#header-content img {
	/*width: 112px;*/
	width: 200px;
	/*float: left;*/
	/*margin: 0 20px 0 0;*/
	/*position: relative;*/
	/*top: 8px;*/
}
.nav_text_links {
	text-transform: uppercase;
	color: #fff;
	font-weight: 100;
	letter-spacing: .2rem;
	float: left;
	font-size: .8rem;
	text-decoration: none;
	padding: 14px 10px;
	font-family: 'Jura', sans-serif;
	font-weight: 100;
}
.cl-effect-1 a:hover,
.cl-effect-1 a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.cl-effect-1 h1:hover,
.cl-effect-1 h1:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 h1::before,
.cl-effect-1 h1::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 h1::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 h1::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 h1:hover::before,
.cl-effect-1 h1:hover::after,
.cl-effect-1 h1:focus::before,
.cl-effect-1 h1:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
